.Lista-Programaciones {
    width: 284px;
    height: 36px;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #808080;
}
